.cart_page {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.title_info {
  display: flex;
  align-items: baseline;

  h1 {
    margin-top: 50px;
  }

  span {
    margin-left: 15px;
    color: #8F9BB3;
  }
}

.cart {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  .cart_items {
    width: calc(100% - 375px);
  }
}

.recommend {
  h2 {
    margin-top: 50px;
  }

  .container_product {
    display: flex;
  }
}



